{% extends "basic/base_site.html" %}
{% block extrahead %}
<script type="text/javascript">
function setvervolg() {
    document.getElementById('vervolg').value = "meld";
}
function check() {
    var a = document.getElementById('about').value;
    var t = document.getElementById('title').value;
    if (a==null|a==""|t==null|t=="") {
        alert("'betreft' en 'omschrijving' beide invullen s.v.p.");
        document.getElementById('vervolg').value = "";
        return false;
        }
    }
</script>
{%endblock%}
{% block branding %}<h1>{{name|capfirst}} | {{title}}</h1>{% endblock %}
{% block content-data %}
<form action="/{{root}}/{% if actie %}{{actie.id}}{% else %}nieuw{% endif %}/update/"
    method="post" onsubmit="return check()">
    <input type="hidden" name="nummer" value="{% if actie %}{{actie.nummer}}{% else %}{{nummer}}{% endif %}"/>
    <table>
    <tr>
        <th>actie:</th>
        <td>{% if actie %}{{actie.nummer}}{% else %}{{nummer}}{% endif %}</td></tr>
    <tr>
        <th>gemeld op:</th>
        <td> {% if actie %}{{actie.start|date:"d-m-Y H:i:s"}}
            {% else %}{{start|date:"d-m-Y H:i:s"}}{% endif %}
            {% if actie %} door: {{actie.starter}}{% endif %}</td></tr>
    <tr>
        <th><label for = "about">betreft: </label></th>
        <td><input type="text" {% if actie.arch %}readonly="readonly"{% endif %}
            name="about" id="about" value="{{actie.about}}" /></td></tr>
    <tr>
        <th><label for = "title">omschrijving:</label></th>
        <td><input  type="text" {% if actie.arch %}readonly="readonly"{% endif %}
            name="title" id="title" value="{{actie.title}}" size="60"/></td></tr>
    <tr>
        <th><label for = "soort">soort:</label></th>
        <td><select name="soort" {% if actie.arch %}readonly="readonly"{% endif %}>
             {% for soort in soorten %}<option value="{{soort.value}}"
                {% ifequal soort actie.soort %}selected="selected"{% endifequal %}>
                {{soort.title}}</option>{% endfor %}</select></td></tr>
    <tr>
        <th><label for = "status">status:</label></th>
        <td><select name="status" {% if actie.arch %}readonly="readonly"{% endif %}>
            {% for stat in stats %}<option value="{{stat.value}}"
            {% ifequal stat actie.status %}selected="selected"{% endifequal %}>
            {{stat.title}}</option>{% endfor %}</select></td></tr>
    <tr>
        <th><label for="user">In behandeling bij:</label></th>
        <td><select name="user" {% if actie.arch %}readonly="readonly"{% endif %}>
            {% for user in users %}<option value="{{user.id}}"
            {% if nieuw %} {% ifequal user nieuw %}selected="selected"{% endifequal %}
            {%else %}{% ifequal user actie.behandelaar %}selected="selected"{% endifequal %}
            {%endif%}>{{user}}</option>{% endfor %}</select></td></tr>
{% if actie %}<tr><td colspan="2">Laatst gewijzigd op: {{actie.gewijzigd|date:"d-m-Y H:i:s"}}
     door: {{actie.lasteditor}}</td></tr>{% endif %}
</table>
<input type="hidden" name="vervolg" id="vervolg" value=""/>
<div>{% if actie.arch %}Deze actie is gearchiveerd {% endif %}{% if not readonly %}
    <a href="/{{root}}/{{actie.id}}/{% if actie.arch %}herl{%else%}arch{%endif%}/">
    <input type="button" value="actie {% if actie.arch %}herleven{%else%}archiveren{%endif%}"
    {%if not actie %}disabled="disabled"{% endif %}/></a>{% endif %}</div>
<hr/>
<div>{% if not readonly and not actie.arch %}
    <input type="submit" value="actie {% if actie %}wijzigen{%else%}opvoeren{%endif%}"/>
    <input type="button" value="{% if actie %}wijzigen{%else%}opvoeren{%endif%} en volgende scherm"
        onclick="setvervolg();form.submit()"/></a>
    <input type="reset" value="Terugzetten"/>{% endif %}</div>
</form>
{% endblock %}