{% extends "base_site.html" %}
{% load i18n %}
{% load extratags %}
{% block style %} <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
<style>
div.clear,
span.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.col_all,
.col_item {
    font-family:"Lucida Grande", Verdana, Arial, sans-serif;
    line-height:13px; border-top:1px solid #eee; vertical-align:top;
    padding: 5px 15px 5px 0 ;
    font-size:11px;
    display: inline;
	float: left;
}
.col_all {
    width: 660px;
}
</style>
{% endblock %}
{% block extrahead %}{% endblock %}
{% block title %} ProbReg| {{ title|escape }} {% endblock %}
{% block branding %}<h1 id="site-name">{{branding|escape}}{% trans 'ProbReg ' %} | {{ title|escape }}</h1>{% endblock %}
{% block nav-global %}{{menu}} {% endblock %}
{% block breadcrumbs %}
{% for x in crumbs %}
&rsaquo; <a href="{{x.0}}" title="{{x.2}}">{{x.1}}</a>
{% endfor %}
{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="col_all">
    {%if message %}<span style="color: red"> {{ message }}</span>{% else %}{{msg|safe}}
    {% endif %}</div><div class="clear">&nbsp;</div>
<div class="col_item"><a href="/">Home</a></div>
{% for page in pages %}<div class="col_item">{% if forloop.first or actie %}
    <a href="/{{root}}/{% if actie and not forloop.first%}{{actie.id}}/{%endif%}{{page.link}}/">
    {%endif%}{{page.title}}{% if forloop.first or actie %}</a>{%endif%}</div>
    {% endfor%}<div class="clear">&nbsp;</div>
{% if actie %}
    <div class="col_all">{{actie.about}}: {{actie.title|trimat:80}} </div>
    <div class="clear">&nbsp;</div>{% endif %}
  {% block content-data %} {{ content }} {% endblock %}
{% endblock %}

