{% extends "basic/base_site.html" %}
{% load extratags %}
{% block extrastyle %}<style>
div.clear,
span.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.col_nr,
.col_srt,
.col_stat,
.col_who,
.col_when,
.col_oms {
    font-family:"Lucida Grande", Verdana, Arial, sans-serif;
    line-height:13px; border-top:1px solid #eee; vertical-align:top;
    padding: 5px 0 5px 0 ;
    font-size:11px;
    display: inline;
	float: left;
}
.head {
    font-size:12px;
    font-weight:bold;
}
.col_nr {
	width: 70px;
}
.col_srt {
	width: 80px;
}
.col_stat {
	width: 140px;
}
.col_who {
	width: 80px;
}
.col_when {
	width: 170px;
}
.col_oms {
	width: 420px;
}
</style> {% endblock %}
{% block branding %}<h1>{{name|capfirst}} | actielijst</h1>{% endblock %}
{% block content-data %}
{% if acties %}
  <div class="col_nr head">nummer</div>
  <div class="col_srt head">soort</div>
  <div class="col_stat head">status</div>
  <div class="col_who head">uitgezet bij</div>
  <div class="col_when head">ltst. wijz.</div>
  <div class="col_oms head">omschrijving</div>
  <div class="clear">&nbsp;</div>
<div style="max-height: 500px; overflow: auto">
{% for actie in acties %}
  <div class="col_nr"><a href="/{{root}}/{{actie.id}}/"> {{actie.nummer}} </a></div>
  <div class="col_srt"> {{actie.soort.title}} </div>
  <div class="col_stat"> {{actie.status.title|default:"onbekend"}} </div>
  <div class="col_who"> {{actie.behandelaar}} </div>
  <div class="col_when"> {{actie.gewijzigd|date:"d-m-Y H:i:s"}} {{actie.lasteditor}} {% if actie.arch %} (A){%endif %} </div>
  <div class="col_oms"> {{actie.about}}: {{actie.title|trimat:50}} </div>
  <div class="clear">&nbsp;</div>
{% endfor %}
</div>
{% else %}
<div>{{geen_items|safe}}</div>
{% endif %}
<a href="/{{root}}/order/"><input type="button" value="sorteren"/></a>
<a href="/{{root}}/select/"><input type="button" value="selecteren"/></a>
{% if not readonly %}<a href="/{{root}}/nieuw/">
    <input type="button" value="Nieuwe actie opvoeren"/></a>{% endif %}
{% if admin %}<a href="/{{root}}/settings/"><input type="button" value="settings"/></a>{% endif%}
{% endblock %}