{% extends "basic/base_site.html" %}
{% load extratags %}
{% block extrastyle %}<style>
div.clear,
span.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.col_when,
.col_oms,
.col_nw {
    font-family:"Lucida Grande", Verdana, Arial, sans-serif;
    line-height:13px; border-bottom:1px solid #eee; vertical-align:top;
    padding: 5px 0 5px 0 ;
    font-size:11px;
    display: inline;
	float: left;
}
.head {
    font-size:12px;
    font-weight:bold;
}
.col_when {
	width: 170px;
}
.col_oms {
	width: 420px;
}
.col_nw {
	width: 590px;
}
</style> {% endblock %}
{% block branding %}<h1>{{name|capfirst}} | {{actie.nummer}} - voortgang</h1>{% endblock %}
{% block content-data %}
<div style="max-height: 240px; width: 660px; overflow: auto">
    {% if nieuw %}<div class="col_nw">-- nieuw voortgangsmoment --</div>
        <div class="clear">&nbsp;</div>{% endif %}
    {%for ev in events%}<a href="/{{root}}/{{actie.id}}/voortg/{{ev.id}}/">
        <div class="col_when">{{ev.start|date:"d-m-Y H:i:s"}} {{ev.starter}}:</div>
        <div class="col_oms">{{ev.text|trimat:60}}</div></a><div class="clear">&nbsp;</div>
        {%endfor%}</div>
<div>
    {% if not readonly  %}{% if not actie.arch and not nieuw %}
        <a href="/{{root}}/{{actie.id}}/voortg/nieuw/">{% endif %}
    <input type="button" value="nieuw moment opvoeren"
        {% if nieuw or actie.arch %}disabled="disabled"{% endif %}/>
    {% if not actie.arch and not nieuw %}</a>{% endif %}
    {% if nieuw %}<a href="/{{root}}/{{actie.id}}/voortg/">
        <input type="button" value="afbreken" /></a>{%endif%}{% endif %}</div>
<hr/>
{% if curr_ev %}
<div class="head">{{curr_ev.start|date:"d-m-Y H:i:s"}}</div>
<form action="/{{root}}/{{actie.id}}/voortg/{{curr_ev.id}}/update/" method="post">
<div><textarea  name="data"{% if readonly or actie.arch %} readonly="readonly"{% endif %}
    cols="106" rows="20">{{curr_ev.text}}</textarea></div>
<div>{% if not actie.arch and not readonly %}
    {% if nieuw %}<input type="submit" value="Opvoeren" />{% else %}
    {% ifequal curr_ev.starter user %}<input type="submit" value="Wijzigen" />
    <input type="reset" value="Terugzetten"/>{% endifequal %}{% endif %}{% endif %}
    </div>
</form>
{% endif %}
{% endblock %}